#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  min-height: 100vh;
  min-width: 100vw;

}

.portfolio-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body{
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

